[submodule "frontend"]
	path = frontend
	url = git@github.com:OpenJWC/OpenJWC-web-frontend.git
[submodule "crawler"]
	path = crawler
	url = git@github.com:OpenJWC/JwcCrawler.git
[submodule "backend"]
	path = backend
	url = https://github.com/Lineance/OpenJWC-webapi
